{% load static %}

{% include "header.html" %}

<div class="banner-carousel banner-carousel-2 mb-0">
  <div class="banner-carousel-item" style="background-image:url(../static/images/slider-main/bg-1.png)">
    <div class="container">
        <div class="box-slider-content">
          <div class="box-slider-text">
              <h2 class="box-slide-title">10 Years of Experience in</h2>
              <h3 class="box-slide-sub-title">Consulting and Advisory</h3>
              <p class="box-slide-description">Notiz strive to make an impact that matters in everything we do. We don't make complex issues simple, we make them understandable.</p>
              <p>
                <a href="{% url 'main:show_services' number=1 %}" class="slider btn btn-primary">Our Services</a>
              </p>
          </div>
        </div>
    </div>
  </div>

  <div class="banner-carousel-item" style="background-image:url(../static/images/slider-main/bg-2.png)">
    <div class="slider-content text-left">
        <div class="container">
          <div class="box-slider-content">
              <div class="box-slider-text">
                <h2 class="box-slide-title">A total of 68 Clients with</h2>
                <h3 class="box-slide-sub-title">Projects in various sectors</h3>
                <p class="box-slide-description">Satisfaction in service delivery, work integrity and professionalism are the main things we put forward.  Notiz prioritizes progress, accompanied by a harmonious balance in business continuity, plays an important role.</p>
                <p><a href="{% url 'main:show_portofolio' %}" class="slider btn btn-primary" aria-label="about-us">Our Portofolio</a></p>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>

<section id="facts" class="facts-area dark-bg">
  <div class="container">
    <div class="facts-wrapper">
        <div class="row">
          <div class="col-md-3 col-sm-6 ts-facts">
 
              <div class="ts-facts-content">
                <h2 class="ts-facts-num"><span class="counterUp" data-count={{viewCount}}>0</span></h2>
                <h3 class="ts-facts-title">Visitor</h3>
              </div>
          </div><!-- Col end -->

          <div class="col-md-3 col-sm-6 ts-facts mt-5 mt-sm-0">
    
              <div class="ts-facts-content">
                <h2 class="ts-facts-num"><span class="counterUp" data-count="68">0</span></h2>
                <h3 class="ts-facts-title">Clients</h3>
              </div>
          </div><!-- Col end -->

          <div class="col-md-3 col-sm-6 ts-facts mt-5 mt-md-0">

              <div class="ts-facts-content">
                <h2 class="ts-facts-num"><span class="counterUp" data-count="10">0</span></h2>
                <h3 class="ts-facts-title">Years of Experience</h3>
              </div>
          </div><!-- Col end -->

          <div class="col-md-3 col-sm-6 ts-facts mt-5 mt-md-0">
    
              <div class="ts-facts-content">
                <h2 class="ts-facts-num"><span class="counterUp" data-count="9">0</span></h2>
                <h3 class="ts-facts-title">Fields of Expertise</h3>
              </div>
          </div><!-- Col end -->

        </div> <!-- Facts end -->
    </div>
    <!--/ Content row end -->
  </div>
  <!--/ Container end -->
</section><!-- Facts end -->

<section id="ts-service-area" class="ts-service-area">
  <div class="container">
    <div class="row text-center">
        <div class="col-12">
          <h3 class="section-sub-title">Our Business</h3>
        </div>
    </div>
    <!--/ Title row end -->

    <div class="row" style="display: flex; justify-content: space-between;">
        <div class="col-lg-4">
          <div class="ts-service-box d-flex">
              <div class="ts-service-box-img">
                <img loading="lazy" src="{% static 'images/icon-image/newIcon1.png' %}" alt="https://www.freepik.com/icon/evaluating_12391941#fromView=search&term=audit&track=ais&page=1&position=10&uuid=2f336506-f08b-4be0-8b2d-abf3903d008f Icon by nangicon">
              </div>
              <div class="ts-service-box-info">
                <h3 class="service-box-title"><a href="#!">Consulting & Advisory</a></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
              </div>
          </div><!-- Service 1 end -->

          <div class="ts-service-box d-flex">
              <div class="ts-service-box-img">
                <img loading="lazy" src="{% static 'images/icon-image/newIcon2.png' %}" alt="https://www.freepik.com/icon/review_3469476#fromView=search&term=audit+advisory&track=ais&page=1&position=1&uuid=3c6fa329-ac7a-4a07-bba5-c37d0b6e20dfIcon by Eucalyp">
              </div>
              <div class="ts-service-box-info">
                <h3 class="service-box-title"><a href="#!">Innovation & Development</a></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
              </div>
          </div><!-- Service 2 end -->

          <div class="ts-service-box d-flex">
              <div class="ts-service-box-img">
                <img loading="lazy" src="{% static 'images/icon-image/newIcon3.png' %}"  alt="https://www.freepik.com/icon/product-innovation_13271412#fromView=search&term=innovation&track=ais&page=1&position=9&uuid=6c5d474e-4690-4c00-a777-9cd4d490c2b8 Icon by Freepik">
              </div>
              <div class="ts-service-box-info">
                <h3 class="service-box-title"><a href="#!">Data Analytic</a></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
              </div>
          </div><!-- Service 3 end -->
        </div><!-- Col end -->

        <div class="col-lg-4 mt-5 mt-lg-0 mb-4 mb-lg-0">
          <div class="ts-service-box d-flex">
              <div class="ts-service-box-img">
                <img loading="lazy" src="{% static 'images/icon-image/newIcon4.png' %}" alt="https://www.freepik.com/icon/tax_3868269#fromView=search&term=tax+services&track=ais&page=1&position=6&uuid=6fa7e8bf-eaf5-4961-9b52-27374d62c42f Icon by Freepik">
              </div>
              <div class="ts-service-box-info">
                <h3 class="service-box-title"><a href="#!">Manufacturing</a></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
              </div>
          </div><!-- Service 4 end -->

          <div class="ts-service-box d-flex">
              <div class="ts-service-box-img">
                <img loading="lazy" src="{% static 'images/icon-image/newIcon5.png' %}" alt="https://www.freepik.com/icon/consultation_1469884#fromView=search&term=consulting&track=ais&page=1&position=2&uuid=b31d6085-bd55-4310-9f47-b6542924f021 Icon by Eucalyp">
              </div>
              <div class="ts-service-box-info">
                <h3 class="service-box-title"><a href="#!">Chemical & Engineering</a></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
              </div>
          </div><!-- Service 5 end -->

          <div class="ts-service-box d-flex">
              <div class="ts-service-box-img">
                <img loading="lazy" src="{% static 'images/icon-image/newIcon6.png' %}" alt="https://www.freepik.com/icon/human-capital_10986564#fromView=search&term=human+capital&track=ais&page=1&position=2&uuid=957a3482-6f2f-4900-bc94-4b1c16f43121 Icon by zero_wing">
              </div>
              <div class="ts-service-box-info">
                <h3 class="service-box-title"><a href="#!">Knowledge Learning</a></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Integer adipiscing erat</p>
              </div>
          </div><!-- Service 6 end -->
        </div><!-- Col end -->
    </div><!-- Content row end -->
    <div class="general-btn text-center mt-4">
      <a class="btn btn-primary" href="{% url 'main:show_services' number=1 %}">View Our Business</a>
    </div>
</div>
  <!--/ Container end -->
</section><!-- Service end -->

{% include "footer.html" %}